<div class="container"> 
  <section id="layout 1">
    <div class="row">
      <div class="col-lg-6 col-sm-12" style="background-color:light; border:0px solid">
        <div class="card text-center border-primary mb-3" style="width: 100%;">
          <h2 class="card-header">ScheduleInTouch</h2>
          <%= image_tag("project_img/scheduleImg.png", class: 'card-img-top') %>
          <div class="card-body">
            <p class="card-text">
              ScheduleInTouch is a website that makes task scheduling convenient and efficient.
            </p>
            <p class="card-text">
              <a href="https://calendarintouch.herokuapp.com/" target="_blank">Learn more</a>
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-6 col-sm-12" style="background-color:light; border:0px solid">
        <div class="card text-center border-primary mb-3" style="width: 100%;">
          <h2 class="card-header">PennInTouch</h2>
          <%= image_tag("project_img/pennintouchImg.png", class: 'card-img-top') %>
          <div class="card-body">
            <p class="card-text">
              Recreate PennInTouch which is the University's student gateway to academic, financial and profile information.
            </p>
            <p class="card-text">
              <a href="https://penntouch-master.herokuapp.com/" target="_blank">Learn more</a>
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-6 col-sm-12" style="background-color:light; border:0px solid">
        <div class="card text-center border-primary mb-3" style="width: 100%;">
          <h2 class="card-header">Canada Express Entry Scoring</h2>
          <%= image_tag("project_img/wechat.PNG", class: 'card-img-top mx-auto d-block', style: 'height:27%;width:27%;') %>
          <div class="card-body">
            <p class="card-text">
              Developed a WeChat program for Oakville Immigration & Education Consulting Inc. to assess and score clients' profile for skilled immigration.
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-6 col-sm-12" style="background-color:light; border:0px solid">
        <div class="card text-center border-primary mb-3" style="width: 100%;">
          <h2 class="card-header">Algorithmic Trading Application </h2>
          <%= image_tag("project_img/trading.png", class: 'card-img-top mx-auto d-block', style: 'height:84%;width:84%;') %>
          <div class="card-body">
            <p class="card-text">
              Developed an algorithmic trading application using Java for my client. <br /><br /><br />
            </p>
          </div>
        </div>
      </div>

      <div class="col-lg-6 col-sm-12" style="background-color:light; border:0px solid">
        <div class="card text-center border-primary mb-3" style="width: 100%;">
          <h2 class="card-header">Sign Language Translation App</h2>
          <%= image_tag("project_img/sign.png", class: 'card-img-top') %>
          <div class="card-body">
            <p class="card-text">
              Adapted OpenPose and developed LSTM neural network that translates videos of sign language into text
            </p>
            <p class="card-text">
              <a href="https://drive.google.com/file/d/1RAF60JTqb-ZXJ6hVezyFpMFuEAHKubz9/view?usp=sharing" target="_blank">Learn more</a>
            </p>
          </div>
        </div>
      </div>

    </div>
  </section>
</div>